<%= render 'layouts/category' %>

<section class="index">
  <% @rankings.each do |ranking| %>
    <%= link_to( "#{@item.genre}/#{@item.id + ranking[:rank] - 1}") do %>
      <div class="ranks">
        <p class="ranks__rank"><%= ranking[:rank] %><span class="ranks__i">位</span></p>
      </div>
      <div class="index__contents">
        <div class="index__contents__content">
          <div class="index__contents__content__images">
            <img class="index__contents__content__images__image" src="<%= ranking[:mediumImageUrls] %>" >
          </div>
          <div class="index__contents__content__texts">
            <h2 class="index__contents__content__texts__text"><%= truncate(ranking[:itemName], length:60) %></h2>
            <div class="price_review">
              <p class="index__contents__content__texts__price"><span class="fee"><%= ranking[:itemPrice] %></span>円(税込)</p>
              <p class="index__contents__content__texts__review"><%= ranking[:reviewAverage] %><span class="reviewMax">/5</span></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</section>

<%= paginate @rankings, total_pages: 10 %>