<section class="show">

  <div class="show__contents">
    <div class="show__contents__images">
      <img class="show__contents__images__image" src="<%= @item.mediumImageUrls %>">
    </div>

    <div class="show__contents__texts">
      <h2 class="show__contents__texts__heading"><%= @item.itemName %></h2>
      <div class="price_review">
        <p class="show__contents__texts__price"><span class="fee"><%= @item.itemPrice %></span>円(税込)<span class="send-fee">送料無料</span></p>


        <% if session[:user_id] != nil %>
          <% if Favorite.find_by(user_id: @current_user.id, rank_id: @item.id) %>
            <%= form_with url: "/favorite/#{@item.id}",method: "delete", local: true do |f| %>
              <%= f.hidden_field :rank_id, value: @item.id %> 
              <%= f.hidden_field :user_id, value: @current_user.id %>
              <button class="favorite-button" type="submit" name="commit" value="" data-disable-with=""><p class="show__contents__texts__favorite"><i class="fas fa-thumbs-up"></i></p></button>
            <% end %>
          <% else %>
            <%= form_with url: "/favorite", method: "post", local: true do |f| %>
              <%= f.hidden_field :rank_id, value: @item.id, commit: "submit" %> 
              <%= f.hidden_field :user_id, value: @current_user.id, commit: "submit" %>
              <button class="favorite-button" type="submit" name="commit" value="" data-disable-with=""><p class="show__contents__texts__favorite"><i class="far fa-thumbs-up"></i></p></button>
            <% end %>
          <% end %>
        <% end %>
        <p class="show__contents__texts__review"><%= @item.reviewAverage %><span class="reviewMax">/5</span></p>
      </div>
      <p class="show__contents__texts__info"><%= @item.itemCaption %></p>
    </div>
  </div>

  <div class="rakuten">
    <%= link_to("#{@item.itemUrl}", :target=>["_blank"]) do %>
      <div class="rakuten__btn">
        楽天詳細ページに行く
      </div>
    <% end %>
  </div>

</section>

<div class="return">
  <%= link_to( "/#{@item.genre}", data: {"turbolinks" => false}) do %>
    <div class="return__btn">
      ランキングに戻る
    </div>
  <% end%>
</div>