<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/76b7c2052c.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="container">

      <%= render 'layouts/header_top' %>
      <%= render 'layouts/category' %>
      <%= render 'layouts/flash' %>
      <div class="contents">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>

    <div>
    
  </body>
</html>
