<section class="mypage">

  <section class="mypage__info">
    <div class="mypage__info__names">
      <h2 class="mypage__info__names__name"><%= @user.name %><span class="mini">さん</span></h2>
    </div>
    <div class="mypage__info__favorite">
      <div class="mypage__info__favorite__texts">
        <p class="mypage__info__favorite__texts__text">お気に入り</p>
        <p class="mypage__info__favorite__texts__count">【 <%= @favorite_ranks.length %> 】</p>
      </div>
    </div>
  </section>



  <section class="mypage__index">
    <% @favorite_ranks.each do |favorite_rank| %>
      <%= link_to( "#{favorite_rank.itemUrl}",:target=>["_blank"]) do %>
        <div class="mypage__index__contents">
          <div class="mypage__index__contents__content">
            <div class="mypage__index__contents__content__images">
              <img class="mypage__index__contents__content__images__image" src="<%= favorite_rank.mediumImageUrls %>" >
            </div>
            <div class="mypage__index__contents__content__texts">
              <h2 class="mypage__index__contents__content__texts__text"><%= truncate(favorite_rank.itemName, length:60) %></h2>
              <div class="price_review">
                <p class="mypage__index__contents__content__texts__price"><span class="fee"><%= favorite_rank.itemPrice %></span>円(税込)</p>
                <p class="mypage__index__contents__content__texts__review"><%= favorite_rank.reviewAverage %><span class="reviewMax">/5</span></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>
</section>




