<section class="new">

  <div class="new__heading">
    <h2 class="new__heading__text">ログイン</h2>
  </div>

  <% if @error_message %>
    <ul class="errors__messages">
      <li><%= @error_message %></li>
    </ul>
  <% end %>


  <%= form_with  url: sessions_path, class: "form_class", local: true do |f| %>
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email %>
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password %>
    <%= f.submit "ログイン", class: "submit" %>
  <% end %>

</section>

